<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventario</title>
</head>
<body>
<style>
    div.item-lista {
        columns: 12em;
    }

    button {
        background-color: #6495ED;
        color: #FFFFFF
    }

    input[type=submit] {
        background-color: darkgreen;
        color: #FFFFFF;
    }
</style>
<h3>Inventario CC4401</h3>

<form action="{% url 'list:add' %}" method="post">
    {% csrf_token %}
    <input type="text" name="item-name" placeholder="Nuevo producto">
    <input type="submit" value="Agregar">
</form>
{% if items %}
    <ul>
        {% for item in items %}
            <form method="post">
                {% csrf_token %}
                <div class="item-lista">
                    <button formaction="{% url 'list:delete' %}" type="submit" name="delete-pk" value="{{ item.id }}">
                        Borrar
                    </button>
                    {{ item.name }}
                    <div>
                        <button formaction="{% url 'list:decrease' %}" type="submit" name="decrease-pk"
                                value="{{ item.id }}">-
                        </button>
                        {{ item.quantity }}
                        <button formaction="{% url 'list:increase' %}" type="submit" name="increase-pk"
                                value="{{ item.id }}">+
                        </button>
                    </div>
                </div>
            </form>
        {% endfor %}
    </ul>
{% else %}
    <p>No hay items en el inventario</p>
{% endif %}
</body>
</html>